body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bcd5e8;
}
header {
    background-color: #567891;
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 1.0;
}
main {
    margin: 0px;
}
/* #myGraph {
    display: none;
} */


#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#myGraph {
    width: 100%;
    height: 100%;
}
#content {
    width: 100%;
    height: 500px;
    overflow: auto;
}
#file-text-container {
    text-align: center;
    transform: scale(1.5);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    position: absolute;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(209, 209, 209);
    padding: 30px;
}
#file-text {
    text-align: left;
}
#file-text img {
    max-width: 100%;
    max-height: 500px;
}
#file-text-container.shown {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}
#file-text-container button {
    all: unset;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
}
#file-text-container button:hover {
    transform: scale(1.2);
}
#file-text-container button img {
    width: 30px;
    height: 30px;
}
#file-text-container .button-close {
    position: absolute;
    right: 20px;
    top: 20px;
}
#file-text-container .button-delete-file {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 30px;
    color: blue;
    font-weight: bold;
}

#githubLogo {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    z-index: 100;
}
footer {
    background-color: #567891;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 1.0;
}
